.succsesArea-padding{
    padding-bottom: 60px;
}
.succsesImg{
    height: 460px;
    background-position: center;
    background-size: cover;
}
.circleBlock{
    position: relative;
}
.succsesPoint:before, .succsesPoint:after{
    content: "";
    position: absolute;
    top: 50%;
    background: $primary;
    height: 1px;
    width: 61px;
}
.succsesPoint:before{
    left: 11%;
}
.succsesPoint:after{
    right: 11%;
}
.paymentSuccses-img{
    width: 190px;
    height: 45px;
}
.paymentSuccses-btn{
    padding: 16px 102px;
}