.d-none, .d-lg-none{
    display: none;
}
.d-block, .d-lg-block{
    display: block;
}
@mixin PC-sm{
    @media(max-width: 1024px){
      @content;
    }
}
@mixin pad{
    @media(max-width: 768px){
      @content;
    }
}
@mixin phone{
    @media(max-width: 560px){
        @content;
    }
}

@include PC-sm{
    .priLinks{
        margin-bottom: 150px;
    }
    .productsList{
        padding-left: 5px;
        .card{
            width: 300px;
        }
    }
    .proNamenPrice{
        .proName{
            width: 173px;
            padding: 14px 33px;
        }
        .proPrice{
            width: 127px;
            padding: 14px 20px;
        }
    }
    .summaryDetails{
        .summaryImg{
            width: 120px;
            height: 80px;
        }
    }
    .receiptBtn {
        padding: 14px 51.5px;
    }
}
@include pad{
    .navbar-nav{
        width: 100%;
    }
    .menuItem{
        text-align: center;
        transition-duration: 0.15s;
    }
    .menuItem:hover{
        background: $primary;
        color: #fff;
    }
    .contactInfo{
        .rightTitle-Mobie{
            display: none;
        }
    }    
}
@include phone{
    header{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cartBtn a{
        padding: 0;
    }
    .bannerBlock{
        padding: 0;
        .banner{
            height: 357px;
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .textArea{
        padding: 30px;
        writing-mode: horizontal-tb;
    }
    .contactEmail{
        .emailArea-header{
            margin-bottom: 30px;
        }
    }
    .emailGroup{
        position: relative;
        width: 315px;
        input{
            text-indent: 40px;
        }
        .fa-envelope{
            position: absolute;
            left: 20px;
            top: 16px;
            color: $primary;
            z-index: 100;
        }
        .fa-envelope:before{
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            content: "\f0e0";
        }
        .emailInput{
            width: 251px;
            height: 56px;
        }
        .emailBtn{
            width: 64px;
            height: 56px;
        }
    }
    .contactInfo{
        padding: 30px;
        .footerLogo{
            width: 170px;
            margin-bottom: 40px;
        }
        .contactList{
            margin-bottom: 37px;
        }
        .sloganTitle{
            display: none;
        }
        .socialMedia-links{
            margin-bottom: 23px;
            .lineIcon, .facebookIcon{
                width: 32px;
                height: 32px;
            }
        }
        .rightTitle-PC{
            display: none;
        }
        .rightTitle-Mobie{
            display: block;
        }
    }
    .productBanner{
        height: auto;
        padding-top: 0;
        .product-noReason{
            width: 59px;
        }
    }
    .product_Items{
        width: 100%;
    }
    .paginationBar{
        margin-bottom: 30px;
    }
    .asideMenu{
        padding-left: 0;
        padding-right: 0;
    }
    .loginTitle-mb{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .linkBtns-mb{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        .linkBtn-items-mb{
            width: 105px;
            height: 56px;
            img{
                max-width: 100%;
            }
        }
        .borderRight-1{
            margin-right: 1px;
        }
    }
    .inputArea{
        .emailInput, .passwordInput{
            width: 315px;
            height: 56px;
        }
        .emaillGroup{
            position: relative;
            input{
                text-indent: 40px;
            }
            .fa-user{
                position: absolute;
                left: 20px;
                top: 20px;
                color: $primary;
                z-index: 100;
            }
            .fa-user:before{
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f007";
            }
        }
        .passwordGroup{
            position: relative;
            input{
                text-indent: 40px;
            }
            .fa-key{
                position: absolute;
                left: 20px;
                top: 20px;
                color: $primary;
                z-index: 100;
            }
            .fa-key:before{
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f084";
            }
        }
        .form-check{
            padding-bottom: 30px;
        }
    }
    .cartArea-padding{
        padding-bottom: 0;
    }
    .productPadding{
        padding-left: 15px;
        padding-right: 15px;
    }
    .productList{
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .product-mainArea{
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: solid 1px $light;
        .productList-img{
            width: 157px;
            height: 106px;
            margin-right: 16px;
        }
        .productInfo{
            margin-bottom: 8px;
        }
    }
    .totalPrice{
        width: 100%;
        text-align: right;
    }
    .checkoutArea{
        padding-bottom: 0;
    }
    .checkoutArea-main{
        padding-left: 0;
        padding-right: 0;
        .formArea{
            margin-bottom: 0;
        }
    }
    .succsesArea-padding{
        padding: 0;
    }
    .receiptBtn{
        padding: 14px 32.5px;
    }
}